body {
  background-image: url('https://www.transparenttextures.com/patterns/batthern.png');
  background-color: #1f1f1f;
  background-image: url('https://www.transparenttextures.com/patterns/diagonal-striped-brick.png');
  background-color: red;
  background-color: #333;

  --bs-bg-opacity: 0.5;
}

.form-control {
  border: 1px solid #111;
}
