body {
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    background-color: lightgray;
    background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
    background-color: #111;
}

.form-control {
  border: 1px solid #111;
}